In [218]:
import pandas as pd
import numpy as np

In [219]:
training_data = pd.read_csv(r'D:\data\dengue_features_train.csv')
training_data.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,4/30/1990,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,5/7/1990,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,5/14/1990,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,5/21/1990,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,5/28/1990,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6

In [220]:
testing_data = pd.read_csv(r'D:\data\dengue_features_test.csv')
testing_data.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [221]:
train_data = training_data
test_data = testing_data

In [222]:
train_data.shape

(1456, 25)

In [223]:
test_data.shape

(416, 24)

### We don't need week_start_date column so we will remove that both from test and train

In [225]:
# test_data.drop('week_start_date', axis=1, inplace=True)
# train_data.drop('week_start_date', axis=1, inplace=True)

In [226]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 24 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
total_cases                              1456 non-null int64
dtypes: float64(20), int64(3), object(1)
memory usage: 273.1+ KB

In [227]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 23 columns):
city                                     416 non-null object
year                                     416 non-null int64
weekofyear                               416 non-null int64
ndvi_ne                                  373 non-null float64
ndvi_nw                                  405 non-null float64
ndvi_se                                  415 non-null float64
ndvi_sw                                  415 non-null float64
precipitation_amt_mm                     414 non-null float64
reanalysis_air_temp_k                    414 non-null float64
reanalysis_avg_temp_k                    414 non-null float64
reanalysis_dew_point_temp_k              414 non-null float64
reanalysis_max_air_temp_k                414 non-null float64
reanalysis_min_air_temp_k                414 non-null float64
reanalysis_precip_amt_kg_per_m2          414 non-null float64
reanalysis_relative_humidity_percent     414 non-null float64
reanalysis_sat_precip_amt_mm             414 non-null float64
reanalysis_specific_humidity_g_per_kg    414 non-null float64
reanalysis_tdtr_k                        414 non-null float64
station_avg_temp_c                       404 non-null float64
station_diur_temp_rng_c                  404 non-null float64
station_max_temp_c                       413 non-null float64
station_min_temp_c                       407 non-null float64
station_precip_mm                        411 non-null float64
dtypes: float64(20), int64(2), object(1)
memory usage: 74.8+ KB

In [228]:
train_data.describe(include='all')

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
count,1456,1456.000000,1456.000000,1262.000000,1404.000000,1434.000000,1434.000000,1443.000000,1446.000000,1446.000000,...,1446.000000,1443.000000,1446.000000,1446.000000,1413.000000,1413.000000,1436.000000,1442.000000,1434.000000,1456.000000
unique,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,sj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2001.031593,26.503434,0.142294,0.130553,0.203783,0.202305,45.760388,298.701852,299.225578,...,82.161959,45.760388,16.746427,4.903754,27.185783,8.059328,32.452437,22.102150,39.326360,24.675137
std,NaN,5.408314,15.019437,0.140531,0.119999,0.073860,0.083903,43.715537,1.362420,1.261715,...,7.153897,43.715537,1.542494,3.546445,1.292347,2.128568,1.959318,1.574066,47.455314,43.596000
min,NaN,1990.000000,1.000000,-0.406250,-0.456100,-0.015533,-0.063457,0.000000,294.635714,294.892857,...,57.787143,0.000000,11.715714,1.357143,21.400000,4.528571,26.700000,14.700000,0.000000,0.000000
25%,NaN,1997.000000,13.750000,0.044950,0.049217,0.155087,0.144209,9.800000,297.658929,298.257143,...,77.177143,9.800000,15.557143,2.328571,26.300000,6.514286,31.100000,21.100000,8.700000,5.000000
50%,NaN,2002.000000,26.500000,0.128817,0.121429,0.196050,0.189450,38.340000,298.646429,299.289286,...,80.301429,38.340000,17.087143,2.857143,27.414286,7.300000,32.800000,22.200000,23.850000,12.000000
75%,NaN,2005.000000,39.250000,0.248483,0.216600,0.248846,0.246982,70.235000,299.833571,300.207143,...,86.357857,70.235000,17.978214,7.625000,28.157143,9.566667,33.900000,23.300000,53.900000,28.000000
max,NaN,2010.000000,53.000000,0.508357,0.454429,0.538314,0.546017,390.600000,302.200000,302.928571,...,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,25.600000,543.300000,461.000000

In [229]:
test_data.describe(include='all')

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,416,416.000000,416.000000,373.000000,405.000000,415.000000,415.000000,414.000000,414.000000,414.000000,...,414.000000,414.000000,414.000000,414.000000,414.000000,404.000000,404.000000,413.000000,407.000000,411.000000
unique,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,sj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2010.766827,26.439904,0.126050,0.126803,0.207702,0.201721,38.354324,298.818295,299.353071,...,42.171135,82.499810,38.354324,16.927088,5.124569,27.369587,7.810991,32.534625,22.368550,34.278589
std,NaN,1.434835,14.978257,0.164353,0.141420,0.079102,0.092028,35.171126,1.469501,1.306233,...,48.909514,7.378243,35.171126,1.557868,3.542870,1.232608,2.449718,1.920429,1.731437,34.655966
min,NaN,2008.000000,1.000000,-0.463400,-0.211800,0.006200,-0.014671,0.000000,294.554286,295.235714,...,0.000000,64.920000,0.000000,12.537143,1.485714,24.157143,4.042857,27.200000,14.200000,0.000000
25%,NaN,2010.000000,13.750000,-0.001500,0.015975,0.148670,0.134079,8.175000,297.751429,298.323214,...,9.430000,77.397143,8.175000,15.792857,2.446429,26.514286,5.928571,31.100000,21.200000,9.100000
50%,NaN,2011.000000,26.000000,0.110100,0.088700,0.204171,0.186471,31.455000,298.547143,299.328571,...,25.850000,80.330000,31.455000,17.337143,2.914286,27.483333,6.642857,32.800000,22.200000,23.600000
75%,NaN,2012.000000,39.000000,0.263329,0.242400,0.254871,0.253243,57.772500,300.240357,300.521429,...,56.475000,88.328929,57.772500,18.174643,8.171429,28.319048,9.812500,33.900000,23.300000,47.750000
max,NaN,2013.000000,53.000000,0.500400,0.649000,0.453043,0.529043,169.340000,301.935714,303.328571,...,301.400000,97.982857,169.340000,19.598571,14.485714,30.271429,14.725000,38.400000,26.700000,212.000000

In [230]:
train_data.dtypes

city                                      object
year                                       int64
weekofyear                                 int64
ndvi_ne                                  float64
ndvi_nw                                  float64
ndvi_se                                  float64
ndvi_sw                                  float64
precipitation_amt_mm                     float64
reanalysis_air_temp_k                    float64
reanalysis_avg_temp_k                    float64
reanalysis_dew_point_temp_k              float64
reanalysis_max_air_temp_k                float64
reanalysis_min_air_temp_k                float64
reanalysis_precip_amt_kg_per_m2          float64
reanalysis_relative_humidity_percent     float64
reanalysis_sat_precip_amt_mm             float64
reanalysis_specific_humidity_g_per_kg    float64
reanalysis_tdtr_k                        float64
station_avg_temp_c                       float64
station_diur_temp_rng_c                  float64
station_max_temp_c                       float64
station_min_temp_c                       float64
station_precip_mm                        float64
total_cases                                int64
dtype: object

In [231]:
test_data.dtypes

city                                      object
year                                       int64
weekofyear                                 int64
ndvi_ne                                  float64
ndvi_nw                                  float64
ndvi_se                                  float64
ndvi_sw                                  float64
precipitation_amt_mm                     float64
reanalysis_air_temp_k                    float64
reanalysis_avg_temp_k                    float64
reanalysis_dew_point_temp_k              float64
reanalysis_max_air_temp_k                float64
reanalysis_min_air_temp_k                float64
reanalysis_precip_amt_kg_per_m2          float64
reanalysis_relative_humidity_percent     float64
reanalysis_sat_precip_amt_mm             float64
reanalysis_specific_humidity_g_per_kg    float64
reanalysis_tdtr_k                        float64
station_avg_temp_c                       float64
station_diur_temp_rng_c                  float64
station_max_temp_c                       float64
station_min_temp_c                       float64
station_precip_mm                        float64
dtype: object

In [238]:
train_data.isnull().any()

city                                     False
year                                     False
weekofyear                               False
ndvi_ne                                  False
ndvi_nw                                  False
ndvi_se                                  False
ndvi_sw                                  False
precipitation_amt_mm                     False
reanalysis_air_temp_k                    False
reanalysis_avg_temp_k                    False
reanalysis_dew_point_temp_k              False
reanalysis_max_air_temp_k                False
reanalysis_min_air_temp_k                False
reanalysis_precip_amt_kg_per_m2          False
reanalysis_relative_humidity_percent     False
reanalysis_sat_precip_amt_mm             False
reanalysis_specific_humidity_g_per_kg    False
reanalysis_tdtr_k                        False
station_avg_temp_c                       False
station_diur_temp_rng_c                  False
station_max_temp_c                       False
station_min_temp_c                       False
station_precip_mm                        False
total_cases                              False
dtype: bool

In [239]:
test_data.isnull().any()

city                                     False
year                                     False
weekofyear                               False
ndvi_ne                                  False
ndvi_nw                                  False
ndvi_se                                  False
ndvi_sw                                  False
precipitation_amt_mm                     False
reanalysis_air_temp_k                    False
reanalysis_avg_temp_k                    False
reanalysis_dew_point_temp_k              False
reanalysis_max_air_temp_k                False
reanalysis_min_air_temp_k                False
reanalysis_precip_amt_kg_per_m2          False
reanalysis_relative_humidity_percent     False
reanalysis_sat_precip_amt_mm             False
reanalysis_specific_humidity_g_per_kg    False
reanalysis_tdtr_k                        False
station_avg_temp_c                       False
station_diur_temp_rng_c                  False
station_max_temp_c                       False
station_min_temp_c                       False
station_precip_mm                        False
dtype: bool

In [240]:
train_data.fillna(method='ffill', inplace=True)

test_data.fillna(method='ffill', inplace=True)

In [241]:
train_data['city'] = train_data['city'].astype('category') 
train_data['city'] = train_data['city'].cat.codes

test_data['city'] = test_data['city'].astype('category') 
test_data['city'] = test_data['city'].cat.codes

In [242]:
train_data.shape

(1456, 24)

In [243]:
test_data.shape

(416, 23)

In [244]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [245]:
x_training = train_data.drop(['total_cases'], 1)
y_training = train_data['total_cases']
x_train, x_test, y_train, y_test = train_test_split(x_training, y_training, test_size=0.2852, random_state=1)

In [246]:
x_training.shape

(1456, 23)

In [247]:
x_test.shape

(416, 23)

In [248]:
y_test.shape

(416,)

In [249]:
y_training.shape

(1456,)

In [250]:
y_train.shape

(1040,)

In [251]:
from sklearn.metrics import mean_absolute_error
regression_model = LinearRegression()
regression_model.fit(x_train, y_train)
y_predicted = regression_model.predict(x_test)

print('Mean Absolute Error:', mean_absolute_error(y_test, y_predicted))

Mean Absolute Error: 21.534291860097238

In [252]:
regression_model.fit(x_training, y_training)
y_predicted = regression_model.predict(test_data)

print('Mean Absolute Error:', mean_absolute_error(y_test, y_predicted))

Mean Absolute Error: 25.719435822676953

In [206]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
clf = linear_model.Ridge(alpha = 44)
clf.fit(x_train, y_train)
Y_pred = clf.predict(x_test)
mean_absolute_error(y_test, Y_pred)

20.540002787457944

In [207]:
clf.fit(x_training, y_training)
Y_pred = clf.predict(test_data)
mean_absolute_error(y_test, Y_pred)

24.81846965257342

In [253]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)
RFR.fit(x_train, y_train)
y_ = RFR.predict(x_test)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_))

Mean Absolute Error: 16.107140122630064

In [254]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(max_depth=2, random_state=42, n_estimators=100)
RFR.fit(x_training, y_training)
y_ = RFR.predict(test_data)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_))

Mean Absolute Error: 18.901098497855102

In [210]:
from sklearn.model_selection import GridSearchCV
RFclfParameters = [{'n_estimators': [100, 500], 'max_features': ["log2","sqrt"]}]
GridSearchRF = GridSearchCV(estimator = RFR, param_grid = RFclfParameters, scoring = 'neg_mean_absolute_error', cv = 10, n_jobs = -1)

In [211]:
GridSearchRF.fit(x_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid=[{'n_estimators': [100, 500], 'max_features': ['log2', 'sqrt']}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [212]:
yy = GridSearchRF.predict(x_test)
print('Mean Absolute Error:', mean_absolute_error(y_test, yy))

Mean Absolute Error: 17.759270883539184

In [213]:
GridSearchRF.fit(x_training, y_training)
y = GridSearchRF.predict(test_data)
print('Mean Absolute Error:', mean_absolute_error(y_test, y))

C:\Users\LAYI\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

Mean Absolute Error: 22.27534290001084

In [140]:
y

array([19.58874184, 25.15745433, 20.05240568, 26.3679106 , 33.91630752,
       27.63665103, 26.52466567, 27.52660816, 28.77434023, 29.05469157,
       28.63905136, 29.45463315, 29.68858602, 32.67644751, 35.00083063,
       47.86844327, 34.85359477, 37.67805435, 44.53169132, 34.7033627 ,
       37.08851691, 34.10569091, 34.26803937, 36.52284013, 32.11954274,
       34.37914057, 47.40353613, 35.95580287, 35.43757825, 34.07746891,
       31.74275637, 25.97114106, 26.93231182, 28.84873434, 24.4020839 ,
       17.86663256, 19.01562828, 22.43378097, 19.93514205, 20.56168582,
       19.39642819, 19.95100623, 19.75558151, 18.14733485, 19.48898418,
       24.41779792, 19.52617391, 18.63973364, 18.98372761, 19.21966695,
       19.46815827, 19.45105588, 21.15422835, 23.93932146, 23.64488337,
       21.1174719 , 26.5659491 , 26.38699369, 36.69629853, 28.37786459,
       29.14931733, 28.63765228, 30.27463876, 30.31930509, 31.40376392,
       33.28011949, 35.59292153, 37.0825193 , 37.37100914, 38.26874453,
       42.46691771, 36.04110239, 51.15432895, 37.03109718, 38.87739777,
       37.96229622, 37.13918267, 37.97547098, 36.81326873, 36.16356237,
       33.36364067, 35.49524768, 34.50549066, 32.82632043, 33.98808343,
       30.82116575, 30.67105296, 30.67105296, 19.69107825, 19.81863674,
       19.72821417, 20.42010973, 20.49314122, 17.18867599, 17.79805332,
       20.79271992, 23.92676974, 23.46093419, 19.18496927, 22.89778892,
       26.50206264, 19.75304974, 19.42831133, 22.23425289, 35.78350444,
       27.421029  , 26.33499086, 28.45422501, 28.40605029, 42.88646108,
       31.05049698, 31.39164529, 27.72560229, 27.84185147, 32.70679124,
       33.63301518, 37.82097337, 28.51344667, 33.7419674 , 50.87511816,
       37.69645059, 40.3893177 , 40.88416225, 37.91526329, 39.92997817,
       38.24929053, 36.76910273, 37.1374177 , 36.74784417, 34.85118165,
       37.69956709, 33.94122871, 34.76314878, 27.84226249, 30.22894132,
       26.72490563, 22.68389795, 26.245628  , 24.82388447, 27.18437673,
       19.96528462, 20.25899117, 21.22520026, 20.70595793, 20.47539034,
       19.73231487, 20.49376334, 19.47706935, 19.51007423, 19.16688782,
       19.36497998, 19.34948729, 19.26332643, 20.55268211, 20.20235906,
       21.13939556, 20.46536987, 22.28769035, 20.63648951, 20.56910923,
       29.31572456, 28.03186818, 33.59178493, 29.19989592, 29.15327967,
       27.7537825 , 28.33455682, 28.11516   , 27.31333459, 32.58548128,
       32.70872263, 34.93676173, 35.59074327, 38.47593861, 34.07936131,
       37.83758155, 37.98261367, 33.57950124, 36.16732863, 39.41744225,
       35.28709593, 34.78329895, 34.16373523, 33.43758676, 31.78198906,
       34.42509956, 33.51996424, 31.49722689, 29.71437791, 31.48197583,
       26.65333934, 26.22081714, 23.26232733, 20.72409529, 20.9217012 ,
       18.70422415, 19.49499187, 19.91847331, 19.72942881, 19.24828554,
       20.13658031, 19.24014161, 19.7120031 , 23.49977271, 19.93425877,
       19.8642708 , 21.91040257, 18.44014794, 19.20207247, 34.44307424,
       21.03279583, 38.01384465, 25.02768721, 26.89626868, 30.81832174,
       30.77698434, 36.07388713, 34.35965379, 29.89484321, 28.45129379,
       29.69943715, 30.94196108, 33.05343628, 35.32590853, 46.37915357,
       37.97102749, 34.83791226, 38.99402168, 38.48569938, 38.33385266,
       40.47368088, 38.29837406, 37.04641109, 36.65104368, 37.17741478,
       38.20743369, 36.81580996, 36.90923351, 46.68841026, 35.11820469,
       32.68856462, 35.41811183, 32.68073055, 19.77634393, 22.77802378,
       19.70269675, 19.41083154, 19.85150776, 19.4035003 , 19.30124969,
       19.52827713, 19.71925933, 21.33354572, 19.68872492, 19.12475794,
       19.73636586, 19.536994  , 24.04980779, 26.17327674, 20.41053663,
        9.33844918,  8.7494364 ,  9.16454153, 10.675119  ,  8.80393107,
        9.15213324,  9.08473802,  9.94541871, 11.42417091, 11.88448606,
       12.80238942, 11.70600905,  9.74834209, 11.72118281, 13.19784227,
       11.60778501, 10.59279769, 11.42122467, 12.72831418, 11.89971709,
       10.71445775, 10.44310729, 12.78074931, 10.7884094 , 10.80618026,
       10.38215105, 11.97742178,  9.44539321,  9.42401543,  8.89191873,
        9.08950009,  8.92098494,  9.26034052,  9.46329371,  9.61381869,
        9.6048664 ,  9.2058362 ,  9.0116376 , 10.74759667,  9.50284042,
        9.26709724,  9.62485369, 10.30909597,  9.45567652, 10.37104522,
        8.86277604, 11.19162551,  8.96226401, 10.76909596,  9.11080299,
        8.85400256,  9.48324978,  9.05798908, 10.17818066,  8.78170545,
        8.58231489,  8.43546747,  8.7703385 ,  8.98627718,  9.32125104,
        9.40724656,  9.45771875,  9.6388963 , 10.67023361,  9.43690289,
       12.7372789 ,  9.45227243, 10.21497339, 12.83224048,  9.97502273,
        9.74522019, 10.63808895, 10.83747658, 10.45621905, 10.40923817,
       10.5458819 , 12.20848598, 10.75180787, 11.19018376, 10.82013908,
        9.49338375,  9.06204954,  8.82238055, 11.02514157, 10.05529306,
        8.97707247,  9.51756509,  9.87522242,  9.27126475,  8.96012928,
        8.42582026,  9.43128077,  8.7432655 , 10.33322883,  9.54707298,
        9.29087594,  9.16605033,  8.92632038,  9.50366924,  8.70112915,
        8.6153117 ,  8.85768756,  8.67374173,  8.33384092,  8.67168142,
        9.61168159,  8.84049785,  8.88925728,  9.51048636,  8.52213574,
        9.08564299,  9.5797226 ,  9.2514204 , 10.78949818,  9.49259956,
        9.52650798, 10.70013127, 10.04959022,  9.936593  , 10.95946053,
        9.74229088, 10.31926477, 11.56976161, 10.86243252, 11.07721595,
       15.69421884, 10.99709035, 11.00835458, 11.99022634, 10.48705814,
       10.30644726, 10.44080702, 10.92004467, 10.68910415, 10.95792276,
        9.70001739,  9.76195809,  9.51463923,  9.16205471, 10.49323209,
       10.40424056,  9.79332808,  9.39230498,  9.50602935,  9.38185466,
        9.54287827,  9.62857151,  8.76298069,  9.46635216,  9.76070867,
        8.69824327,  8.72298437,  8.53820121,  8.56358312,  8.70204532,
        8.54330575])

In [141]:
df = pd.read_csv(r'E:\SZABIST\1st Semester\Tools and Techniques for Data Science (Muazz)\Final Project T&T\dengue_features_test.csv')
df.shape

(416, 24)

In [142]:
df.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,4/29/2008,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,5/6/2008,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,5/13/2008,-0.0015,-0.012400,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,5/20/2008,-0.0015,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,5/27/2008,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [143]:
df = df.iloc[:, 0:3]
df['total_cases'] = y
df['total_cases'] = df['total_cases'].astype(int)
df

    city  year  weekofyear  total_cases
0     sj  2008          18           19
1     sj  2008          19           25
2     sj  2008          20           20
3     sj  2008          21           26
4     sj  2008          22           33
5     sj  2008          23           27
6     sj  2008          24           26
7     sj  2008          25           27
8     sj  2008          26           28
9     sj  2008          27           29
10    sj  2008          28           28
11    sj  2008          29           29
12    sj  2008          30           29
13    sj  2008          31           32
14    sj  2008          32           35
15    sj  2008          33           47
16    sj  2008          34           34
17    sj  2008          35           37
18    sj  2008          36           44
19    sj  2008          37           34
20    sj  2008          38           37
21    sj  2008          39           34
22    sj  2008          40           34
23    sj  2008          41           36
24    sj  2008          42           32
25    sj  2008          43           34
26    sj  2008          44           47
27    sj  2008          45           35
28    sj  2008          46           35
29    sj  2008          47           34
..   ...   ...         ...          ...
386   iq  2012          48           10
387   iq  2012          49           11
388   iq  2012          50           11
389   iq  2012          51           10
390   iq  2013           1           10
391   iq  2013           2           10
392   iq  2013           3           10
393   iq  2013           4           10
394   iq  2013           5           10
395   iq  2013           6            9
396   iq  2013           7            9
397   iq  2013           8            9
398   iq  2013           9            9
399   iq  2013          10           10
400   iq  2013          11           10
401   iq  2013          12            9
402   iq  2013          13            9
403   iq  2013          14            9
404   iq  2013          15            9
405   iq  2013          16            9
406   iq  2013          17            9
407   iq  2013          18            8
408   iq  2013          19            9
409   iq  2013          20            9
410   iq  2013          21            8
411   iq  2013          22            8
412   iq  2013          23            8
413   iq  2013          24            8
414   iq  2013          25            8
415   iq  2013          26            8

[416 rows x 4 columns]

In [122]:
submit = df
submit.to_csv(r'E:\SZABIST\1st Semester\Tools and Techniques for Data Science (Muazz)\Final Project T&T\submit10.csv')